@tailwind base;
@tailwind components;
@tailwind utilities;

.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
  overflow-y: scroll; /* Allow scrolling but hide scrollbar */
  height: 100vh;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.mandatory-scroll-snapping::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.mandatory-scroll-snapping {
  scrollbar-width: none; /* For Firefox */
}

section {
  scroll-snap-align: start; /* Align the start of each section for snapping */
  height: 100vh; /* Each section takes full viewport height */
}